.lead{
  height: 30px;
}


#jumbo8 {

  background-image: url('img/pesawat1.jpg');
  background-size: cover;
  background-position: 0px -350px;
  color: rgb(254, 254, 254);
  
  
}


#jumbo8 .btn {
  margin-top: 20px;
  font-size: 1.5rem; 
  padding: 15px 30px; 
  border-radius: 15px; 
  background-color: #007bff; 
  color: #fff; 
  text-transform: uppercase; 
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#jumbo8 .btn:hover {
  background-color: #0056b3; 
  transform: scale(1.1); 
}



.card-deck {
max-width: 70%;
max-height: 70%;    
margin-right: auto;
margin-left: auto;
}

.jumbotron-lg {
  padding: 4rem 2rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius:.3rem;
  font-size: 1.25rem;
  line-height: 150px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;

}

  .card img {
  width: 70%; 
  height: auto; 
  margin: 0 auto; 
  border: 0;
}

.grub{
  margin-left: 70px;
  margin-left: 70px;
  
}
.tutor{
  margin-top: 20px;
  margin-left: 210px;
  margin-right: 210px;
  overflow-y: auto;
}



.card{
  transition: filter 0.3s ease;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .content {
    padding: 20px;
  }
  
  .scroll-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .scroll-to-top-btn:hover {
    background-color: #555;
  }
  
  .card-group {
    border: none;
  }



  
  .navid{
    
    margin-right: 10px;
  }
  .nb{
    padding-right: 10px;
    font-family:sans-serif;
    color: white;
    font-weight: bold;
    font-size: 35px;
  }
    .nb2{
    font-family:sans-serif;
    color: tomato;
    font-weight: bold;
    font-size: 30px;
  }

  #jumbo8 {
    position: relative;
    overflow: hidden;
  }
  
  #jumbo8 > * {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }
  
  #jumbo8:hover > * {
    opacity: 1;
    transform: translateY(0);
  }
  